@import "./fonts.scss";
@import "./reset.scss";
// @import "./bootstrap.scss";

.column-1,
.column-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img.illustration {
  pointer-events: none;
  cursor: no-drop;
  position: absolute;
  bottom: 0;
  left: -115%;
  width: 54vw;
  height: auto;
  opacity: 0;
  filter: grayscale(0.8);
}

/*desktops - higher resolution*/
@media (min-width: 1408px) {
  .text-responsive-2 {
    font-size: 6vw;
    line-height: 0.94;
  }
  .text-responsive-3 {
    font-size: 6vw;
    line-height: 0.94;
  }

  .img.illustration {
    pointer-events: none;
    cursor: no-drop;
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 45vw;
    height: auto;
  }
}

@media (min-width: 1201px) {
  .text-responsive-2 {
    font-size: 7.8vw;
    line-height: 0.94;
  }
  .text-responsive-3 {
    font-size: 7vw;
    line-height: 0.94;
  }
}

/*laptops, desktops*/
@media (min-width: 992px) and (max-width: 1200px) {
  .text-responsive-2,
  .text-responsive-3 {
    font-size: 7vw;
    line-height: 0.94;
  }
}

/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 991px) {
  .text-responsive-2 {
    font-size: 16vw;
    line-height: 0.94;
  }
  .text-responsive-3 {
    font-size: 16vw;
    line-height: 0.94;
  }

  .column-2 {
    order: 1;
    position: relative;
    padding: 0;
    .img.illustration {
      width: 100%;
      position: relative;
      left: 0;
      margin-bottom: 0;
    }
  }
  
}

/*tablets, ipads (portrait)*/
@media (min-width: 577px) and (max-width: 767px) {
  .text-responsive-2 {
    font-size: 16vw;
    line-height: 0.94;
  }
  .text-responsive-3 {
    font-size: 16vw;
    line-height: 0.94;
  }

  .column-2 {
    order: 1;
    position: relative;
    padding: 0;
    .img.illustration {
      width: 100%;
      position: relative;
      left: 0;
      margin-bottom: 0;
    }
  }
}

/*low resolution tablets, mobiles (landscape)*/
@media (max-width: 576px) {
  .text-responsive-2 {
    font-size: 15vw;
    line-height: 0.94;
  }
  .text-responsive-3 {
    font-size: 15vw;
    line-height: 0.94;
  }

  .column-2 {
    order: -1;
    position: relative;
    padding: 0;
    .img.illustration {
      width: 100%;
      position: relative;
      left: 0;
      margin-bottom: 20px;
    }
  }
}

@keyframes moveMask {
  0% {
    left: -95%;
  }
  100% {
    left: 100%;
  }
}
