<app-header></app-header>
<div class="container-fluid pl-5 pr-5">
  <div class="row">
    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-4 column-1 pb-5">
      <div class="hello">
        <span class="h1 font-secondary hola">Hello!</span>
      </div>
      <span class="text-responsive-2">I AM</span>
      <p class="text-responsive-2">SUMIT <br class="d-md-none"> RIDHAL</p>
      <div class="mb-5"> <span class="display-4 position-absolute font-secondary text-danger">from</span><span
          class="display-3 text-light">INDIA</span></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 column-2">
      <!-- <img class="img" src="https://dennisberti.com/imgs/img-about-short.png" alt="About Image"> -->
      <app-animation></app-animation>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 column-3">
      <p class="text-responsive-3 text-light text-uppercase">A curious software developer with a passion for solving
        problems.</p>
      <div class="about-link overflow-hidden">
        <a href="/about" class="font-secondary h1 text-decoration-none">
          About me + <span class="animated-shadow"></span>
        </a>
      </div>
    </div>
  </div>

</div>