.about-link {
  position: relative;
  text-align: end;

  a {
    display: inline-block;
    transform: rotate(-6deg);
    transition: color 0.4s;
    color: inherit;

    &:hover {
      color: #ff2c20;
    }

    span {
      position: absolute;
      top: -138%;
      left: 0;
      background: url(../assets/images/semiwhite.png) no-repeat;
      background-size: contain;
      width: 5em;
      height: 5em;
      opacity: 0.9;
      transition: opacity 0.4s;
      animation: 2s linear infinite moveMask;
    }
  }
}

.column-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
